body {
	background-image: url("https://cdn.britannica.com/90/145590-050-3F4C6402/String-section-Jalisco-Philharmonic-Orchestra-Mexico-Guadalajara.jpg");
}

.textFill{
	background-color: rgba(255, 255, 255, 0.75);
	text-align: center;
	padding: 1.0em;
}

.funkyErrorMessage {
	color: white;
	background-color: rgba(255, 0.0, 0.0, 0.75);
	font-family: "Segoe Script";
}