extends layout

block content
	h1.textFill Music Concert Database - Login
	.textFill
		form(action="http://localhost:3000" method="GET")
			br
			label(for="fn") Name
			input(type="text" name="forename" id="fn")
			br 
			br
			label(for="sn") Surname
			input(type="text" name="surname" id="sn")
			br
			br
			input(type="submit" value="Login")